# Behavior
SKIP_ANIMATION_WALLET_STARTUP=false;

# Providers
TRANSAC_API_KEY=abc
MOON_PAY_API_KEY=abc

# Analytics
MIX_PANEL_TOKEN=abc
MIX_PANEL_EXPLORE_APP_TOKEN=abc

# only needed for E2E test
# SEED_WORDS1= []
# SEED_WORDS2= []
